<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head th:replace="alternativeLayout :: site-head">

</head>
<body>

<nav th:replace="alternativeLayout :: site-header"></nav>


<main th:replace="layout :: site-sidebar"></main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script  src="../static/js/SearchFunction.js" th:src="@{/js/SearchFunction.js}"></script>
<div th:replace="layout :: site-scripts"></div>
</body>
</html>