<!doctype html>
<html lang="en" class="no-js"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <title>Daff Fantasy</title>
    <!-- <link rel="stylesheet" href="../static/css/font-awesome.css" th:href="@{/css/font-awesome.min.css}"/> -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<header class="cd-main-header" th:fragment="site-header">
        <a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"/></a>

        <div class="cd-search is-hidden">
            <form action="#0">
                <input type="search" placeholder="Search..."/>
            </form>
        </div> <!-- cd-search -->

        <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <li><a href="#0">Tour</a></li>
                <li><a href="#0">Support</a></li>
                <li class="has-children account">
                    <a href="#0">
                        <img src="img/cd-avatar.png" alt="avatar"/>
                        Account
                    </a>

                    <ul>

                        <li><a th:href="@{/myAccount}">My Account</a></li>
                        <li><a th:href="@{/editaccount}">Edit Account</a></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header> <!-- .cd-main-header -->

<main class="cd-main-content" th:fragment="site-sidebar">
    <nav class="cd-side-nav">
        <ul>
            <li class="cd-label">Main</li>
            <li class="has-children overview">
                <a href="#0">Overview</a>
            </li>
            <li>
                <a href="/createleague">Opret Liga</a>
                <a href="/leagueoverview">Tilmeld Liga</a>
            </li>
        </ul>
    </nav>

</main> <!-- .cd-main-content -->
<div class="jsScripts" th:fragment="site-scripts">
    <script src="js/jQuery.countdownTimer.js"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/jquery.menu-aim.js"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->
</div>
</body>
</html>