<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="layout :: site-head">
    <link rel="stylesh  eet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

<body>

<header th:replace="layout :: site-header"></header>

<main th:replace="layout :: site-sidebar"></main>

<div class="container">
    <div class="text">
        <p>hej</p>
        <div id="countdowntimer"><span id="future_date"></span></div>
        <script type="text/javascript">
            $(function() {
                $("#future_date").countdowntimer({
                    dateAndTime : "2020/01/01 00:00:00",
                    size : "lg"
                });
            });
        </script>

    </div>
</div>






<div th:replace="layout :: site-scripts"></div>
</body>
</html>