<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

<body>

<header th:replace="layout :: site-header"></header>

<main th:replace="layout :: site-sidebar"></main>

<div class="container">
    <div class="text">
    <input type="text" id="search" placeholder="Type to search"/>
    <table class = "table" id="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Tilmeld</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="league, status : ${leagueoverview}">
            <td th:text="${status.count}">1</td>
            <td th:text="${league.leagueName}">Name</td>
            <td>

                <form th:action="@{/leagueoverview.html}" method="post">

                    <input type="hidden" name="paramName" th:value="${league.league_id}"/>
                    <div class="form-group">
                        <input type="text" name = "teamName"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password"/>
                    </div>
                    <button type="submit">Tilmeld</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script  src="../static/js/SearchFunction.js" th:src="@{/js/SearchFunction.js}"></script>
<div th:replace="layout :: site-scripts"></div>
</body>
</html>