<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http//www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <!-- <link rel="stylesheet" href="../static/css/font-awesome.css" th:href="@{/css/font-awesome.min.css}"/> -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="buttonstyle" href="../static/css/buttonstyle.css" th:href="@{/css/buttonstyle.css}"/>
    <script  src="../static/js/buttondisable.js" th:src="@{/js/buttondisable.js}"></script>


</head>
<body>

<div  class="container" id="wrapper">
    <div class="text">
    <p id="countdown"></p>
        <input type="hidden" id="draftdate" th:value="${draftstring}"/>
        <a th:href="@{/draft.html}">
    <button type = "button" id="myBtn" class="btnDisable" disabled="true" > Please wait...</button>
        </a>
    </div>
                <table class = "table" id="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Wins</th>
                        <th>Loses</th>
                        <th>Draws</th>
                        <th>Points</th>
                        <th>Win Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="team, status : ${leagueTeams}">
                        <td th:text="${status.count}">1</td>
                        <td th:text="${team.teamName}">1</td>
                        <td th:text="${team.wins}">1</td>
                        <td th:text="${team.loses}">1</td>
                        <td th:text="${team.draws}">1</td>
                        <td th:text="${team.points}">1</td>
                        <td th:text="${team.winPercentage + '%'}">1</td>
                    </tr>
                    </tbody>
                </table>

        <table class = "table">
            <thead>
            <tr>
                <th>Upcoming matches</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${leagueTeams[0].teamName} "></td>
                <td> VS </td>
                <td th:text=" ${leagueTeams[1].teamName}"></td>
            </tr>
            </tbody>
        </table>




                <span th:text = "${draftOrder[1]}"></span>
    </div>

</body>
</html>