<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>

<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Offensive position</th>
            <th>Defensive position</th>
            <th>Throwing</th>
            <th>Precision</th>
            <th>Vision</th>
            <th>Speed</th>
            <th>Acceleration</th>
            <th>Route Running</th>
            <th>Catching</th>
            <th>Tackling</th>
            <th>Blitzing</th>
            <th>Man Coverage</th>
            <th>Zone Coverage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player, status : ${search}">
            <td th:text="${status.count}">1</td>
            <td th:text="${player.firstName + ' ' + player.lastName}">Name</td>
            <td th:text="${#strings.toUpperCase(player.offPos)}">Offensive position</td>
            <td th:text="${#strings.toUpperCase(player.defPos)}">Defensive position</td>
            <td th:text="${player.throwing}">Throwing</td>
            <td th:text="${player.precision}">Precision</td>
            <td th:text="${player.vision}">Vision</td>
            <td th:text="${player.speed}">Speed</td>
            <td th:text="${player.acceleration}">Acceleration</td>
            <td th:text="${player.routeRunning}">Route Running</td>
            <td th:text="${player.catching}">Catching</td>
            <td th:text="${player.tackling}">Tackling</td>
            <td th:text="${player.blitzing}">Blitzing</td>
            <td th:text="${player.manCoverage}">Man Coverage</td>
            <td th:text="${player.zoneCoverage}">Zone Coverage</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>